@charset "UTF-8";
@font-face {
    font-family:'Sparky';
    src: url('fontes/Sparky Stones.ttf') format('truetype');
}
@font-face {
    font-family:'Night';
    src: url('fontes/Nigthintale.ttf') format('truetype');}
@font-face {
        font-family:'Quicksand Medium';
        src: url('fontes/Quicksand-Medium.ttf') format('truetype');}
body{
    background-image: linear-gradient(-90deg, #050505, #030303);
}
header{
    text-align: center;
    color: rgb(243, 243, 243);
}
main{
    background-color: rgba(255, 255, 255, 0.925);
    width: 90%;
    height: 90%;
    margin: auto;
    box-shadow: 5px 5px 15px #00000086;
    border-radius: 5px;
    display: flex;
}
h1{
    font-family: 'Night', 'Times New Roman', Times, serif;
}
div.car{
    display: inline-block;
    padding: 2%;
    width: 50%;
    height: auto;
    margin: 1%;
}
div.carrossel{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: auto;
}
div.legenda{
    display: block;
    width: 30%;
    margin: auto;
    height: auto;
    padding: 0%;
}
div.leg{
    height: auto;
    margin: auto;
    padding: 0%;
}
p{
    font-family: "Quicksand Medium", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: auto;
    height: auto;
    width: auto;
    padding: 0%;
}
img{
    width: 100%;
    margin: auto;
    box-shadow: 5px 5px 15px #0000005b;
}
.slick-prev:before,
.slick-next:before
{
    color: black;
}
a{
    color: #A535DB;
    text-decoration: none;    
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #b160d6;
}
a:active{
    color: #c18bdb;
}

@media screen and (max-width: 1023px) {
    div.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-90deg, #050505, #030303);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    body {
        margin: 0px;
    }    
    main{
        display: block;
        position: flex;
        height: auto;
        margin: 0px;
        width: 80%;
    }
    div.car{
        width: 70%;
        margin: auto;
        display: block;
    }
        
    div.carrossel{
        width: 100%;
        margin: auto;
    }
    div.legenda{
        display: block;
        width: 80%;
        padding: 4%;
    }
    p{
        font-size: 1em;
        text-align: center;
    }
    header{
        margin: 0px;
        padding: 0px;
    }
}